.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  color: #f3f3f3;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 30px;
}

form {
  text-align: left;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
}

input,
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  background-color: #f3f3f3;
  font-size: 18px;
}

textarea {
  height: 150px;
}

button[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #009688;
  color: #fff;
}

button[type="submit"]:hover {
  background-color: #00796b;
}

